/* ICON BUTTONS */
.icon-btn {
  padding: 2px;
  border: none;
  display: flex;
  align-items: center;
  margin: 0 2px;
  border-radius: 2px;
  &:disabled {
    background-color: $color-grey-1;
    color: #fff;
  }
}

.status-btn {
  position: relative;
  width: fit-content;
  margin: 0 5px;
  & button {
    display: flex;
    align-items: center;
    padding: 2px 10px;
    border-radius: 2px;
    justify-content: center;
  }
}

.cli-btn {
  border: none;
  border-radius: 3px;
  margin: 0 5px;
  height: 30px;
  padding: 0 10px;
  // font-family: "Webapp-Bold" !important;
  display: flex;
  align-items: center;
  & mat-icon {
    margin: 0 5px;
  }
  &:disabled {
    background-color: #94dfff;
    color: #fff;
  }
}

.cli-btn-search {
  background-color: #0daef4;
  color: #fff;
  transition: ease 0.3s;
  border: none;
  margin: 0 3px;
  height: 25px;
  padding: 0 3px;
  // font-family: "Webapp-Bold" !important;
  display: flex;
  align-items: center;
  & mat-icon {
    margin: 0 3px;
  }
  &:hover:enabled {
    background-color: #6dd3ff;
  }
  &:hover:enabled:active {
    background-color: #00b3ff;
  }
}

.cli-btn-limpiar {
  background-color: #d2d1d1;
  color: #fff;
  transition: ease 0.3s;
  border: none;
  margin: 0 3px;
  height: 25px;
  padding: 0 3px;
  // font-family: "Webapp-Bold" !important;
  display: flex;
  align-items: center;
  & mat-icon {
    margin: 0 3px;
  }
  &:hover:enabled {
    background-color: #e0dada;
    color: #606060;
  }
  &:hover:enabled:active {
    background-color: #888888;
  }
}


.cli-btn-pdf {
  background-color: #0000001f;
  color: #6c757d;
  transition: ease 0.3s;
  border: none;
  margin: 0 3px;
  height: 25px;
  padding: 0 3px;
  display: flex;
  align-items: center;
  & mat-icon {
    margin: 0 3px;
  }
  &:hover:enabled {
    background-color: #e0dada;
    color: #606060;
  }
  &:hover:enabled:active {
    background-color: #888888;
  }
}

.btn-salir {
  background-color: #ececec;
  color: #2b2a2a;
  transition: ease 0.3s;
  padding: 3.5px 45px;
  &:hover:enabled {
    background-color: #d2d1d1;
    color: #ffffff;
  }
  &:hover:enabled:active {
    background-color: #b3b3b3;
  }
}

.btn-fucsia {
  background-color: $color-magenta;
  color: #fff;
  transition: ease 0.3s;
  &:hover:enabled {
    background-color: $color-magenta-l;
  }
  &:hover:enabled:active {
    background-color: $color-magenta-d;
  }
}
.btn-xl {
  height: 45px;
  padding: 0 50px;
}
.btn-l {
  height: 38px;
  padding: 0 30px;
}
.btn-m {
  height: 30px;
  padding: 0 30px;
}
.btn-s {
  height: 25px;
  padding: 0 10px;
  margin: 0 2px;
}

.btn-optional {
  background-color: #fff;
  transition: ease 0.3s;
  color: #0d6efd;
  border: solid 1px #0d6efd;
  &:hover:enabled {
    background-color: $color-grey-1;
  }
  &:hover:enabled:active {
    background-color: #71a6f6;
    color: #fff;
  }
}

.btn-skyblue {
  background-color: #0daef4;
  color: #fff;
  transition: ease 0.3s;
  &:hover:enabled {
    background-color: #6dd3ff;
  }
  &:hover:enabled:active {
    background-color: #00b3ff;
  }
}

.btn-grey {
  background-color: $color-grey-2;
  transition: ease 0.3s;
  &:hover:enabled {
    background-color: $color-grey-1;
  }
  &:hover:enabled:active {
    background-color: $color-grey-3;
  }
}

.btn-white {
  background-color: #fff;
  border: solid 1px $color-grey-3;
  transition: ease 0.3s;
  &:hover:enabled {
    background-color: $color-grey-1;
  }
  &:hover:enabled:active {
    background-color: $color-grey-2;
  }
}
.btn-lemon-green {
  background-color: $color-green;
  color: #fff;
  transition: ease 0.3s;
  &:hover:enabled {
    background-color: $color-green-l;
  }
  &:hover:enabled:active {
    background-color: $color-green-d;
  }
}

.btn-green {
  background-color: #20c997;
  color: #fff;
  transition: ease 0.3s;
  &:hover:enabled {
    background-color: #4efaaa85;
  }
  &:hover:enabled:active {
    background-color: #198754;
  }
}

.btn-magenta {
  background-color: $color-magenta;
  color: #fff;
  transition: ease 0.3s;
  &:hover:enabled {
    background-color: $color-magenta-l;
  }
  &:hover:enabled:active {
    background-color: $color-magenta-d;
  }
}

.btn-fucsia {
  background-color: $color-magenta;
  color: #fff;
  transition: ease 0.3s;
  &:hover:enabled {
    background-color: $color-magenta-l;
  }
  &:hover:enabled:active {
    background-color: $color-magenta-d;
  }
}

.btn-mail {
  background-color: #fff;
  color: #20c997;
  border: solid 1px #20c997;
  transition: ease 0.3s;
  &:hover:enabled {
    background-color: #5ae1b9;
    color: #fff;
  }
  &:hover:enabled:active {
    background-color: #65d4b3;
    // color: #FFF;
  }
}

.btn-blue {
  background-color: $color-blue;
  color: #fff;
  transition: ease 0.3s;
  &:hover:enabled {
    background-color: $color-blue-l;
  }
  &:hover:enabled:active {
    background-color: $color-blue-d;
  }
}

.btn-turq {
  background-color: $color-turq;
  color: #fff;
  transition: ease 0.3s;
  &:hover:enabled {
    background-color: $color-turq-l;
  }
  &:hover:enabled:active {
    background-color: $color-turq-d;
  }
}

.btn-purple {
  background-color: $color-purple;
  color: #fff;
  transition: ease 0.3s;
  &:hover:enabled {
    background-color: $color-purple-l;
  }
  &:hover:enabled:active {
    background-color: $color-purple-d;
  }
}
.btn-yellow {
  background-color: $color-yellow;
  color: #fff;
  transition: ease 0.3s;
  &:hover:enabled {
    background-color: $color-yellow-l;
  }
  &:hover:enabled:active {
    background-color: $color-yellow-d;
  }
}

.btn-red {
  background-color: #ff727f;
  color: #fff;
  transition: ease 0.3s;
  &:hover:enabled {
    background-color: #f7cfd3;
  }
  &:hover:enabled:active {
    background-color: #ff3a4d;
  }
}

.btn-orange {
  background-color: $color-orange;
  color: #fff;
  transition: ease 0.3s;
  &:hover:enabled {
    background-color: $color-orange-l;
  }
  &:hover:enabled:active {
    background-color: $color-orange-d;
  }
}

.btn-section {
  // background-color: #ececec;
  color: #0d6efd;
  transition: ease 0.3s;
  padding: 3.5px 45px;
  border-bottom: solid 4px #0d6efd;
  &:hover:enabled {
    background-color: #d2d1d1;
    color: #ffffff;
  }
  &:hover:enabled:active {
    background-color: #b3b3b3;
  }
}

.btn-trans {
  background-color: transparent;
  transition: ease 0.3s;
  &:hover:enabled {
    background-color: #00000014;
  }
  &:hover:enabled:active {
    background-color: #00000044;
  }
}
