  <div style="display: flex">
    <div class="flex-1"></div>
    <div class="modal-title c-male">Importar evidencia y Aprobar</div>
    <div class="flex-1"></div>

    <button (click)="close()" class="icon-btn btn-trans c-orange moda-close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form class="row g-3" [formGroup]="importForm">
    <div class="cli-form newvac-wrapper">

      <div class="chart-draw">
        <div class="col-sm-12 cli-form-element">
          <label>Importar evidencia de correo (PDF).</label>
          <input type="file" class="cli-import" formControlName="aprobar_solicitud_m" />
          <!-- (change)="readExcell($event)" -->
        </div>
      </div>

      <div class="cli-form-buttons">
        <button
        class="cli-btn btn-m btn-lemon-green"
        style="margin-top: 15%;"
        (click)="guardarPdf_y_AprobarSolicitud()"
        [disabled]="importForm.invalid"
        >
        <mat-icon class="icon-18">save</mat-icon> Guardar PDF
      </button>
      </div>
    </div>
  </form>


