<div style="display: flex">
  <div class="flex-1"></div>
  <div class="modal-title c-male">{{ DATA_SCORE ? "Actualizar" : "Agregar" }} solicitud</div>
  <div class="flex-1"></div>

  <button (click)="close()" class="icon-btn btn-trans c-orange moda-close-btn">
    <mat-icon>close</mat-icon>
  </button>
</div>

<form class="row g-3" [formGroup]="scoreForm">
  <div class="cli-form newvac-wrapper">
    <div class="chart-draw">
      <!-- DATOS DEL SCORE ------------------------------------------------------------------------->
      <div style="display: flex" *ngIf="DATA_SCORE">
        <div class="pr-subtitle mt-2">Datos del Score</div>

        <div class="flex-1" style="background: #f4f4f4;"></div>
          <ng-container class="input-group" *ngIf="this.DATA_SCORE.casoScore == 'Residencial'">
            <div class="input-group-text" style="background: #f4f4f4;"><mat-icon style="color: #0d6efd; margin-top: 4.5px;">person</mat-icon></div>
            <div class="cli-user">{{scoreForm.controls['solicitante'].value | uppercase}}</div>
          </ng-container>
          <div class="flex-1" style="background: #f4f4f4;"></div>
          <div class="id-score">ID : <span  class="total">{{score_Id}}</span></div>
      </div>

      <div class="pr-section mb-3">
        <div class="pr-module-container">
          <div class="row g-3">
              <div class="col-sm-3 cli-form-element" *ngIf="!DATA_SCORE || this.DATA_SCORE.formatoScore == 'Residencial'">
              <label>Solicitante</label>
              <input
                type="text"
                readonly="true"
                class="form-control cli-input-white"
                formControlName="solicitante"/>
              </div>

              <div class="col-sm-3 cli-form-element" *ngIf="DATA_SCORE">
                <label>Caso Score</label>
                <input
                  type="text"
                  readonly="true"
                  class="form-control cli-input-white"
                  formControlName="casoScore"/>
              </div>

              <div class="col-sm-3 cli-form-element" *ngIf="DATA_SCORE">
                <label>Formato Score</label>
                <input
                  type="text"
                  readonly="true"
                  class="form-control cli-input-white"
                  formControlName="formatoScore"/>
              </div>

              <div class="col-sm-3 cli-form-element" *ngIf="DATA_SCORE" >
                <label>Estado Solicitud</label>
                <select class="cli-input-white" formControlName="id_estado_m">
                  <option [value]="0" disabled>- Seleccione -</option>
                  <option [value]="estado.idEstado"*ngFor="let estado of listEstado">{{ estado.cNombre }}</option>
                </select>
              </div>

              <div class="col-sm-3 cli-form-element">
                <label class="form-label">Fecha de pruebas (Rango)</label>
                <mat-form-field color="accent" appearance="outline">
                  <mat-date-range-input [rangePicker]="picker_ind">
                    <input matStartDate formControlName="fecha_ini_prueba" placeholder="Desde">
                    <input matEndDate   formControlName="fecha_fin_prueba" placeholder="Hasta">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker_ind"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker_ind></mat-date-range-picker>
                </mat-form-field>
              </div>

              <ng-container *ngIf="this.DATA_SCORE.casoScore == 'Corporativo'">
                <div class="col-sm-12 cli-form-element">
                  <label>Motivo de Solicitud</label>
                  <textarea
                    class="form-control"
                    style="background-image: none;border-color: #a5a4a4;"
                    rows="1"
                    placeholder="Describa el motivo de la solicitud"
                    formControlName="motivo_solicitud">
                  </textarea>
                </div>
              </ng-container>

              <ng-container *ngIf="this.DATA_SCORE.estado =='Observado'">
                <div class="col-sm-12 cli-form-element">
                  <label>Observación Solicitud Score</label>
                  <textarea
                    class="form-control"
                    style="background-image: none;border-color: #a5a4a4; color:#fd72a2 ;border: solid 1px #0dcaf0;"
                    rows="1"
                    formControlName="obs_score">
                  </textarea>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

      <!-- DETALLES SCORE ------------------------------------------------------------------------->
      <ng-container *ngIf="DATA_SCORE">
        <div class="pr-subtitle mt-1">Detalle Score</div>
        <div class="pr-section mb-3">
          <div class="pr-module-container">
            <div class="cli-card">

              <div *ngIf="this.DATA_SCORE.casoScore == 'Corporativo'">
                <div style="padding: 2px 2px">
                  <!-- BUSCADOR POR FILTRO ---------------------------------------------------------------->
                  <div class="buscar">
                    <div class="row ">
                      <div class="col-sm-2 cli-form-element">
                        <label class="form-label">N° Documento</label>
                        <input
                          type="text"
                          class="form-control cli-input-white"
                          placeholder="Ingrese Doc."
                          formControlName="num_doc"/>
                      </div>

                      <div class="col-sm-2 cli-form-element">
                        <label>Estado</label>
                        <select class="cli-input-white" formControlName="id_estado_d">
                          <option [value]="0" disabled>- Seleccione -</option>
                          <option [value]="estado.idEstado"*ngFor="let estado of listEstado">{{ estado.cNombre }}</option>
                        </select>
                      </div>

                      <div class="col-sm-2 cli-form-element">
                        <label>Req. Validación</label>
                        <select class="cli-input-white" formControlName="req_validacion">
                          <option [value]="10" disabled>- Seleccione -</option>
                          <option [value]="0">NO</option>
                          <option [value]="1">SI</option>
                        </select>
                      </div>

                      <div class="col-sm-2">
                        <div style="margin-top: 27px; display: flex">
                          <button
                            type="button"
                            matTooltip="Buscar"
                            class="cli-btn-search"
                            style="border-radius: 2px"
                            (click)="cargarOBuscarScoreDetalle()">
                            <mat-icon class="icon-18">search</mat-icon>
                          </button>
                          <button
                            type="submit"
                            matTooltip="Limpiar"
                            class="cli-btn-limpiar"
                            style="border-radius: 2px"
                            (click)="limpiarFiltro()">
                            <mat-icon class="icon-18">rotate_left</mat-icon>
                          </button>
                        </div>
                      </div>
                      <div class="flex-1"></div>

                      <div class="col-sm-2" *ngIf="scoreForm.controls['id_estado_m'].value == 5">
                        <div style="margin-top: 27px; display: flex;">
                          <button
                            type="submit"
                            matTooltip="Ver PDF"
                            class="cli-btn-pdf"
                            style="border-radius: 2px;"
                            (click)="importarPdf_AprobarSolicitud()">
                            <mat-icon class="icon-18" style="color: #e97eff">visibility</mat-icon>Ver evidencias
                            <!-- <mat-icon class="icon-18" style="color: #e97eff">picture_as_pdf</mat-icon>Descargar D -->
                          </button>
                        </div>
                      </div>


                      <div style="display: flex">
                        <div class="flex-1"></div>
                        <div style="color: #0daef4">
                          Total :<span class="total">{{ listScoreDetalleCorp.length }} Score detalle</span>
                        </div>
                      </div>

                      <!-- TABLA DE LISTADO SCORE_DETALLE ------------------------------------------------------------------>
                      <!-- <div style="overflow: auto; min-height: 445px"> -->
                      <div style="overflow: auto; min-height: 317px; color: #6c757d;">
                        <table class="cli-table stripedtable underlinedtable">
                          <thead>
                            <tr class="bgc-turquey c-white">
                              <!-- <th>ID Score DET</th> -->
                              <th style="min-width: 65px;" >ID Score</th>
                              <th style="min-width: 110px;">Tipo caso</th>
                              <th style="min-width: 95px;" >Segmento</th>
                              <th style="min-width: 115px;">Tipo Transacción</th>
                              <th style="min-width: 250px;">Tipo Venta</th>
                              <th style="min-width: 115px;">Gama de Equipo</th>
                              <th style="min-width: 102px;">Req. Val.</th>
                              <th>Estado</th>
                              <th style="min-width: 315px;">C O M E N T A R I O S</th>
                              <th style="min-width: 65px;" >Tipo Doc</th>
                              <th style="min-width: 65px;" >RUC</th>
                              <th style="min-width: 205px;">Nombres y Apellidos del Cliente</th>
                              <th style="min-width: 72px;" >Q líneas</th>
                              <th style="min-width: 65px;" >Score</th>
                              <th style="min-width: 92px;" >CF disponible</th>
                              <th style="min-width: 140px;">Cap. Financiamiento</th>
                              <th style="min-width: 108px;">Cód. Evaluación</th>
                              <th style="min-width: 290px;">Observación</th>
                            </tr>
                          </thead>

                          <tbody>
                          <tr
                            *ngFor="let score of listScoreDetalleCorp | paginate: {
                                      itemsPerPage: pageSize,
                                      id: 'b2b',
                                      currentPage: page,
                                      totalItems: totalScore }">
                            <td>{{ score.idScored        }}</td>
                            <td>{{ score.tipo_score      }}</td>
                            <td>{{ score.segmento        }}</td>
                            <td>{{ score.tipoTransaccion }}</td>
                            <td>{{ score.tipoVenta       }}</td>
                            <td>{{ score.gama            }}</td>
                            <td>
                              <span *ngIf="score.req_validacion == '0'"  style="color: #0daef4">NO</span>
                              <span *ngIf="score.req_validacion == '1'"  style="color: #fd0d89">SI</span>
                            </td>
                            <td>
                              <span *ngIf="score.estado == 'Solicitado'" class="label est-sol">       {{ score.estado | uppercase }}</span>
                              <span *ngIf="score.estado == 'Observado'"  class="label est-observado ">{{ score.estado | uppercase }}</span>
                              <span *ngIf="score.estado == 'Enviado'"    class="label est-enviado ">  {{ score.estado | uppercase }}</span>
                              <span *ngIf="score.estado == 'Finalizado'" class="label est-finalizado">{{ score.estado | uppercase }}</span>
                              <span *ngIf="score.estado == 'Aprobado'"   class="label est-aprobado">  {{ score.estado | uppercase }}</span>
                              <span *ngIf="score.estado == 'Subsanado'"  class="label est-subsanado"> {{ score.estado | uppercase }}</span>
                            </td>
                            <td class="obs-score">
                              <div *ngIf="(authService.esUsuarioGestor() && (score.estado != 'Observado' || score.estado != 'Aprobado') || (((authService.esUsuarioLider() && validarSiExisteReqValidacion()) && score.estado == 'Solicitado'))) ">
                                <ng-container *ngIf="((authService.esUsuarioGestor() && (score.estado != 'Finalizado')) || (authService.esUsuarioLider() && score.estado != 'Finalizado') && (score.estado != 'Enviado') || score.estado == 'Solicitado' || score.estado == 'Observado' || score.estado == 'Aprobado')">
                                  <div style="display: flex">
                                    <button
                                      class="btn-obs btn-obs"
                                      style="margin: 0"
                                      type="button"
                                      (click)="asignarComentarioScore_d(score)"
                                      matTooltip="Observar o Aprobar registro"
                                      ><mat-icon class="icon-13">loupe</mat-icon>
                                    </button>{{ score.obs_registro }}
                                </div>
                                </ng-container>
                              </div>
                            </td>
                             <td>{{ score.tipo_documento   }}</td>
                            <td>{{ score.numero_documento }}</td>
                            <td>{{ score.nombres_apell    }}</td>
                            <td>{{ score.num_lin_disp     }}</td>
                            <td>{{ score.score            }}</td>
                            <td>{{ score.cf_disponible    }}</td>
                            <td>{{ score.cap_finan_2      }}</td>
                            <td>{{ score.cod_evaluacion   }}</td>
                            <td style="color: #16b21d">{{ score.observacion }}</td>
                          </tr>
                          </tbody>
                        </table>

                        <div class="cli-loader" *ngIf="loadingItem">
                          <mat-spinner
                            style="margin-right: 20px"
                            diameter="20"
                          ></mat-spinner>cargando...
                        </div>

                        <div
                          *ngIf="!loadingItem && listScoreDetalleCorp.length == 0"
                          class="cli-loader mt-5"
                          style="color: #f97fa9">
                          No hay Score tipo Corporativo disponible para mostrar
                        </div>
                      </div>
                    </div>
                  </div>

                <div class="card-footer pb-0 pt-3">
                  <pagination-controls
                    previousLabel="Anterior"
                    nextLabel="Siguiente"
                    [responsive]="false"
                    id="b2b"
                    (pageChange)="cambiarPagina($event)">
                  </pagination-controls>
                </div>
                </div>
              </div>

              <div *ngIf="this.DATA_SCORE.casoScore == 'Residencial'">
                <ul class="tabs-container">
                  <li (click)="onTabClick('General')"   [class.active]="activeTab == 'General'"   class="tab-link">General   (<small style="color:#f46797">{{totalGeneral}}</small>)</li>
                  <li (click)="onTabClick('Excepcion')" [class.active]="activeTab == 'Excepcion'" class="tab-link">Excepción (<small style="color:#f46797">{{totalExcep  }}</small>)</li>
                </ul>
              </div>

              <div *ngIf="this.DATA_SCORE.casoScore == 'Residencial'">
                <div *ngIf="activeTab == 'General'">
                  <div style="padding: 2px 2px">
                    <!-- BUSCADOR POR FILTRO ---------------------------------------------------------------->
                    <div class="buscar">
                      <div class="row ">

                        <div class="col-sm-2 cli-form-element">
                          <label class="form-label">N° Documento</label>
                          <input
                            type="text"
                            class="form-control cli-input-white"
                            placeholder="Ingrese Doc."
                            formControlName="num_doc"/>
                        </div>

                        <div class="col-sm-2 cli-form-element">
                          <label>Estado</label>
                          <select class="cli-input-white" formControlName="id_estado_d">
                            <option [value]="0" disabled>- Seleccione -</option>
                            <option [value]="estado.idEstado"*ngFor="let estado of listEstado">{{ estado.cNombre }}</option>
                          </select>
                        </div>

                        <div class="col-sm-2 cli-form-element">
                          <label>Req. Validación</label>
                          <select class="cli-input-white" formControlName="req_validacion">
                            <option [value]="10" disabled>- Seleccione -</option>
                            <option [value]="0">NO</option>
                            <option [value]="1">SI</option>
                          </select>
                        </div>

                        <div class="col-sm-2">
                          <div style="margin-top: 27px; display: flex">
                            <button
                              type="button"
                              matTooltip="Buscar"
                              class="cli-btn-search"
                              style="border-radius: 2px"
                              (click)="cargarOBuscarScoreDetalle()">
                              <mat-icon class="icon-18">search</mat-icon>
                            </button>
                            <button
                              type="submit"
                              matTooltip="Limpiar"
                              class="cli-btn-limpiar"
                              style="border-radius: 2px"
                              (click)="limpiarFiltro()">
                              <mat-icon class="icon-18">rotate_left</mat-icon>
                            </button>
                          </div>
                        </div>

                        <div class="flex-1"></div>

                        <div class="col-sm-2" *ngIf="scoreForm.controls['id_estado_m'].value == 5">
                          <div style="margin-top: 27px; display: flex;">
                            <button
                              type="submit"
                              matTooltip="Ver PDF"
                              class="cli-btn-pdf"
                              style="border-radius: 2px;"
                              (click)="importarPdf_AprobarSolicitud()">
                              <mat-icon class="icon-18" style="color: #e97eff">visibility</mat-icon>Ver evidencias
                            </button>
                          </div>
                        </div>

                        <div style="display: flex">
                          <div class="flex-1"></div>
                          <div style="color: #0daef4">
                            Total :<span class="total">{{ listScoreDetalleGen.length }} Score detalle</span>
                          </div>
                        </div>

                        <!-- TABLA DE LISTADO SCORE_DETALLE ------------------------------------------------------------------>
                        <!-- <div style="overflow: auto; min-height: 445px"> -->
                        <div style="overflow: auto; min-height: 317px; color: #6c757d;">
                          <table class="cli-table stripedtable underlinedtable">
                            <thead>
                              <tr class="bgc-turquey c-white">
                                <th style="min-width: 65px;"  >ID Score</th>
                                <th style="min-width: 125px;" >Solicitante</th>
                                <th style="min-width: 235px;" >RQ-Nombre del proyecto</th>
                                <th style="min-width: 110px;" >Fecha APP</th>
                                <th style="min-width: 65px;"  >TIpo Doc</th>
                                <th style="min-width: 67px;"  >Num Doc</th>
                                <th style="min-width: 102px;" >Req. Val.</th>
                                <th>Estado</th>
                                <th style="min-width: 315px;" >C O M E N T A R I O S</th>
                                <th style="min-width: 115px;" >Segmento</th>
                                <th style="min-width: 118px;" >Tipo Transacción</th>
                                <th style="min-width: 250px;" >Tipo Venta</th>
                                <th style="min-width: 80px;"  >Gama</th>
                                <th style="min-width: 100px;" >Cuota Inicial</th>
                                <th style="min-width: 85px;"  >Cuotas</th>
                                <th style="min-width: 95px;"  >Cap. Financ. 2</th>
                                <th style="min-width: 65px;"  >Usuario</th>
                                <th style="min-width: 98px;"  >Cargo fijo máx</th>
                                <th style="min-width: 155px;" >Capacidad financ. prev</th>
                                <th style="min-width: 66px;"  >Score</th>
                                <th style="min-width: 166px;" >Num. lineas disponible</th>
                                <th style="min-width: 98px;"  >Código finan.</th>
                              </tr>
                            </thead>

                            <tbody>
                            <tr
                              *ngFor="let score of listScoreDetalleGen | paginate: {
                                        itemsPerPage: pageSize,
                                        id: 'general',
                                        currentPage: page,
                                        totalItems: totalScore }">
                              <td>{{ score.idScored         }}</td>
                              <td>{{ score.solicitante }}</td>
                              <td style="text-align: left;">{{ score.nombre_proyecto  }}</td>
                              <td>{{ score.fecha_score      }}</td>
                              <td>{{ score.tipo_documento   }}</td>
                              <td>{{ score.numero_documento }}</td>
                              <td>
                                <span *ngIf="score.req_validacion == '0'" style="color: #0daef4">NO</span>
                                <span *ngIf="score.req_validacion == '1'" style="color: #fd0d89">SI</span>
                              </td>
                              <td>
                                <span *ngIf="score.estado == 'Solicitado'" class="label est-sol">        {{ score.estado | uppercase }}</span>
                                <span *ngIf="score.estado == 'Observado'"  class="label est-observado">  {{ score.estado | uppercase }}</span>
                                <span *ngIf="score.estado == 'Enviado'"    class="label est-enviado">    {{ score.estado | uppercase }}</span>
                                <span *ngIf="score.estado == 'Finalizado'" class="label est-finalizado"> {{ score.estado | uppercase }}</span>
                                <span *ngIf="score.estado == 'Aprobado'"   class="label est-aprobado">   {{ score.estado | uppercase }}</span>
                                <span *ngIf="score.estado == 'Subsanado'"  class="label est-subsanado">  {{ score.estado | uppercase }}</span>
                              </td>
                              <td class="obs-score">
                                <div *ngIf="(authService.esUsuarioGestor() && (score.estado != 'Observado' || score.estado != 'Aprobado') || (((authService.esUsuarioLider() && validarSiExisteReqValidacion()) && score.estado == 'Solicitado'))) ">
                                  <ng-container *ngIf="((authService.esUsuarioGestor() && (score.estado != 'Finalizado')) || (authService.esUsuarioLider() && score.estado != 'Finalizado') && (score.estado != 'Enviado') || score.estado == 'Solicitado' || score.estado == 'Observado' || score.estado == 'Aprobado')">
                                    <div style="display: flex">
                                      <button
                                        class="btn-obs btn-obs"
                                        style="margin: 0"
                                        type="button"
                                        (click)="asignarComentarioScore_d(score)"
                                        matTooltip="Observar o Aprobar registro"
                                        ><mat-icon class="icon-13">loupe</mat-icon>
                                      </button>{{ score.obs_registro }}
                                  </div>
                                  </ng-container>
                                </div>
                              </td>
                              <td style="text-align: left;"  >{{ score.segmento        }}</td>
                              <td style="text-align: left;"  >{{ score.tipoTransaccion }}</td>
                              <td style="text-align: center;">{{ score.tipoVenta       }}</td>
                              <td style="text-align: left;"  >{{ score.gama            }}</td>
                              <td style="text-align: left;"  >{{ score.cuota_inicial   }}</td>
                              <td>{{ score.cuotas      }}</td>
                              <td>{{ score.cap_finan_2 }}</td>
                              <td style="text-align: left;">{{ score.usuario }}</td>
                              <td>{{ score.cargo_fijo_max   }}</td>
                              <td>{{ score.cap_financ_prev  }}</td>
                              <td>{{ score.score            }}</td>
                              <td>{{ score.num_lin_disp     }}</td>
                              <td>{{ score.cod_finan        }}</td>
                            </tr>
                            </tbody>
                          </table>

                          <div class="cli-loader" *ngIf="loadingItem">
                            <mat-spinner
                              style="margin-right: 20px"
                              diameter="20"
                            ></mat-spinner>cargando...
                          </div>

                          <div
                            *ngIf="!loadingItem && listScoreDetalleGen.length == 0"
                            class="cli-loader mt-5"
                            style="color: #f97fa9">
                            No hay Score tipo General disponible para mostrar
                          </div>
                        </div>
                      </div>
                    </div>

                  <div class="card-footer pb-0 pt-3">
                    <pagination-controls
                      previousLabel="Anterior"
                      nextLabel="Siguiente"
                      [responsive]="false"
                      id="general"
                      (pageChange)="cambiarPagina($event)">
                    </pagination-controls>
                  </div>
                  </div>
                </div>

                <div *ngIf="activeTab == 'Excepcion'">
                  <div style="padding: 2px 2px">
                    <!-- BUSCADOR POR FILTRO ---------------------------------------------------------------->
                    <div class="buscar">
                      <div class="row ">
                        <div class="col-sm-2 cli-form-element">
                          <label class="form-label">N° Documento</label>
                          <input
                            type="text"
                            class="form-control cli-input-white"
                            placeholder="Ingrese Doc."
                            formControlName="num_doc"/>
                        </div>

                        <div class="col-sm-2 cli-form-element">
                          <label>Estado</label>
                          <select class="cli-input-white" formControlName="id_estado_d">
                            <option [value]="0" disabled>- Seleccione -</option>
                            <option [value]="estado.idEstado"*ngFor="let estado of listEstado">{{ estado.cNombre }}</option>
                          </select>
                        </div>

                        <div class="col-sm-2 cli-form-element">
                          <label>Req. Validación</label>
                          <select class="cli-input-white" formControlName="req_validacion">
                            <option [value]="10" disabled>- Seleccione -</option>
                            <option [value]="0">NO</option>
                            <option [value]="1">SI</option>
                          </select>
                        </div>

                        <div class="col-sm-2">
                          <div style="margin-top: 27px; display: flex">
                            <button
                              type="button"
                              matTooltip="Buscar"
                              class="cli-btn-search"
                              style="border-radius: 2px"
                              (click)="cargarOBuscarScoreDetalle()">
                              <mat-icon class="icon-18">search</mat-icon>
                            </button>
                            <button
                              type="submit"
                              matTooltip="Limpiar"
                              class="cli-btn-limpiar"
                              style="border-radius: 2px"
                              (click)="limpiarFiltro()">
                              <mat-icon class="icon-18">rotate_left</mat-icon>
                            </button>
                          </div>
                        </div>

                        <div class="flex-1"></div>

                        <div class="col-sm-2" *ngIf="scoreForm.controls['id_estado_m'].value == 5">
                          <div style="margin-top: 27px; display: flex;">
                            <button
                              type="submit"
                              matTooltip="Ver PDF"
                              class="cli-btn-pdf"
                              style="border-radius: 2px;"
                              (click)="importarPdf_AprobarSolicitud()">
                              <mat-icon class="icon-18" style="color: #e97eff">visibility</mat-icon>Ver evidencias
                            </button>
                          </div>
                        </div>

                        <div style="display: flex">
                          <div class="flex-1"></div>
                          <div style="color: #0daef4">
                            Total :<span class="total">{{ listScoreDetalleExcep.length }} Score detalle</span>
                          </div>
                        </div>

                        <!-- TABLA DE LISTADO SCORE_DETALLE ------------------------------------------------------------------>
                        <!-- <div style="overflow: auto; min-height: 445px"> -->
                        <div style="overflow: auto; min-height: 317px; color: #6c757d;">
                          <table class="cli-table stripedtable underlinedtable">
                            <thead>
                              <tr class="bgc-green c-white">
                                <!-- <th>ID Score DET</th> -->
                                <th style="min-width: 65px;"  >ID Score</th>
                                <th style="min-width: 120px;" >Solicitante</th>
                                <th style="min-width: 80px;"  >Rq</th>
                                <th style="min-width: 142px;" >Proyecto</th>
                                <th style="min-width: 115px;" >Casos</th>
                                <th style="min-width: 102px;" >Req. Val.</th>
                                <th>Estado</th>
                                <th style="min-width: 315px;" >C O M E N T A R I O S</th>
                                <th style="min-width: 90px;"  >Cuota Inicial</th>
                                <th style="min-width: 65px;"  >Gama</th>
                                <th style="min-width: 63px;"  >Tipo Doc</th>
                                <th style="min-width: 66px;"  >Num Doc</th>
                                <th style="min-width: 100px;" >Fecha APP</th>
                                <th style="min-width: 65px;"  >Score</th>
                                <th style="min-width: 105px;" >Cargo Fijo Máx</th>
                                <th style="min-width: 116px;" >Núm Lineas Disp.</th>
                                <th style="min-width: 118px;" >Cap. Financ. Prev.</th>
                                <th style="min-width: 116px;" >Código Financ.</th>
                                <th style="min-width: 95px;"  >Cap. Financ. 2</th>
                              </tr>
                            </thead>

                            <tbody>
                            <tr
                              *ngFor="let score of listScoreDetalleExcep | paginate: {
                                        itemsPerPage: pageSize,
                                        id: 'excepcion',
                                        currentPage: page,
                                        totalItems: totalScore }">
                              <td>{{ score.idScored    }}</td>
                              <td>{{ score.solicitante }}</td>
                              <td>{{ score.Rq          }}</td>
                              <td>{{ score.proyecto    }}</td>
                              <td>{{ score.casos       }}</td>
                              <td>
                                <span *ngIf="score.req_validacion == '0'"  style="color: #0daef4">NO</span>
                                <span *ngIf="score.req_validacion == '1'"  style="color: #fd0d89">SI</span>
                              </td>
                              <td>
                                <span *ngIf="score.estado == 'Solicitado'" class="label est-sol">        {{ score.estado | uppercase }}</span>
                                <span *ngIf="score.estado == 'Observado'"  class="label est-observado">  {{ score.estado | uppercase }}</span>
                                <span *ngIf="score.estado == 'Enviado'"    class="label est-enviado">    {{ score.estado | uppercase }}</span>
                                <span *ngIf="score.estado == 'Finalizado'" class="label est-finalizado"> {{ score.estado | uppercase }}</span>
                                <span *ngIf="score.estado == 'Aprobado'"   class="label est-aprobado">   {{ score.estado | uppercase }}</span>
                                <span *ngIf="score.estado == 'Subsanado'"  class="label est-subsanado">  {{ score.estado | uppercase }}</span>
                              </td>
                              <td class="obs-score">
                                <div *ngIf="(authService.esUsuarioGestor() && (score.estado != 'Observado' || score.estado != 'Aprobado') || (((authService.esUsuarioLider() && validarSiExisteReqValidacion()) && score.estado == 'Solicitado'))) ">
                                  <ng-container *ngIf="((authService.esUsuarioGestor() && (score.estado != 'Finalizado')) || (authService.esUsuarioLider() && score.estado != 'Finalizado') && (score.estado != 'Enviado') || score.estado == 'Solicitado' || score.estado == 'Observado' || score.estado == 'Aprobado')">
                                    <div style="display: flex">
                                      <button
                                        class="btn-obs btn-obs"
                                        style="margin: 0"
                                        type="button"
                                        (click)="asignarComentarioScore_d(score)"
                                        matTooltip="Observar o Aprobar registro"
                                        ><mat-icon class="icon-13">loupe</mat-icon>
                                      </button>{{ score.obs_registro }}
                                  </div>
                                  </ng-container>
                                </div>
                              </td>
                              <td>{{ score.cuota_inicial    }}</td>
                              <td>{{ score.gama             }}</td>
                              <td>{{ score.tipo_documento   }}</td>
                              <td>{{ score.numero_documento }}</td>
                              <td>{{ score.fecha_score      }}</td>
                              <td>{{ score.score            }}</td>
                              <td>{{ score.cargo_fijo_max   }}</td>
                              <td>{{ score.num_lin_disp     }}</td>
                              <td>{{ score.cap_financ_prev  }}</td>
                              <td>{{ score.cod_finan        }}</td>
                              <td>{{ score.cap_finan_2      }}</td>
                            </tr>
                            </tbody>
                          </table>

                          <div class="cli-loader" *ngIf="loadingItem">
                            <mat-spinner
                              style="margin-right: 20px"
                              diameter="20"
                            ></mat-spinner>cargando...
                          </div>

                          <div
                            *ngIf="!loadingItem && listScoreDetalleExcep.length == 0"
                            class="cli-loader mt-5"
                            style="color: #f97fa9">
                            No hay Score tipo Excepción disponible para mostrar
                          </div>
                        </div>
                      </div>
                    </div>

                  <div class="card-footer pb-0 pt-3">
                    <pagination-controls
                      previousLabel="Anterior"
                      nextLabel="Siguiente"
                      [responsive]="false"
                      id="excepcion"
                      (pageChange)="cambiarPagina($event)">
                    </pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </ng-container>

      <!-- HISTORICO DE ESTADOS SCORE ------------------------------------------------------------------------->
      <div *ngIf="DATA_SCORE" style="color: #6c757d;">
        <div class="pr-subtitle mt-2">Histórico de cambios</div>
        <div class="pr-section mb-3">
          <div class="pr-module-container">
            <div style="overflow: auto; min-height: 160px; max-height: 160px;">
              <table class="cli-table stripedtable underlinedtable">
                <thead>
                  <tr class="bgc-variable c-white">
                    <th>#</th>
                    <th>ID Score</th>
                    <th>Estado Solicitud</th>
                    <th>Usuario</th>
                    <th>Fecha y hora</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let historico of listHistoricoCambios; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ historico.id_score_m }}</td>
                    <td>{{ historico.cNombre    }}</td>
                    <td class="w300">{{ historico.responsable }}</td>
                    <td>{{ historico.fecha_cambio }}</td>
                  </tr>
                </tbody>
              </table>
              <div class="cli-loader" *ngIf="loadingItem">
                <mat-spinner style="margin-right: 20px" diameter="20"></mat-spinner>cargando...
              </div>

              <div *ngIf="!loadingItem && listHistoricoCambios.length == 0"
                class="cli-loader mt-2"
                style="color: #c9c9c9"
                >Aquí se mostrará el histórico del cambios de Estado del Score...
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!----------------------------------------------BOTONES ------------------------------------------>
    <div class="cli-form-buttons">
      <button *ngIf="(authService.esUsuarioGestor() && (scoreForm.controls['id_estado_m'].value == 2 || scoreForm.controls['id_estado_m'].value == 3 || scoreForm.controls['id_estado_m'].value == 4 || scoreForm.controls['id_estado_m'].value == 5 || scoreForm.controls['id_estado_m'].value == 6 || scoreForm.controls['id_estado_m'].value == 7 || scoreForm.controls['id_estado_m'].value == 8))
                  || (authService.esUsuarioLider()  && (scoreForm.controls['id_estado_m'].value == 2 || scoreForm.controls['id_estado_m'].value == 3 || scoreForm.controls['id_estado_m'].value == 4 || scoreForm.controls['id_estado_m'].value == 5 || scoreForm.controls['id_estado_m'].value == 6 || scoreForm.controls['id_estado_m'].value == 7 || scoreForm.controls['id_estado_m'].value == 8))"
         class="cli-btn btn-m btn-salir"
         type="submit" (click)="close()">
        <mat-icon class="icon-18">cancel</mat-icon> Salir
      </button>

      <ng-container *ngIf="((authService.esUsuarioLider() && validarSiExisteReqValidacion()) && (scoreForm.controls['id_estado_m'].value == 2 || scoreForm.controls['id_estado_m'].value == 3 || scoreForm.controls['id_estado_m'].value == 8)) && !authService.esUsuarioGestor()">
        <button *ngIf="listScoreDetalleExcep.length > 0 || listScoreDetalleGen.length > 0 || listScoreDetalleCorp.length > 0"
           class="cli-btn btn-m btn-aprobar"
           type="submit"
           (click)="importarPdf_AprobarSolicitud()"
           ><mat-icon class="icon-18">check_small</mat-icon> Aprobar
           <!-- (click)="notificarAprobacionPorCorreo()" -->
        </button>
      </ng-container>

      <ng-container *ngIf="DATA_SCORE">
        <ng-container *ngIf="(authService.esUsuarioGestor() || (authService.esUsuarioLider() && scoreForm.controls['id_estado_m'].value == 2 && scoreForm.controls['id_estado_m'].value != 5 && scoreForm.controls['id_estado_m'].value != 6))
                          && ((scoreForm.controls['id_estado_m'].value == 2 && validarSiExisteReqValidacion()) || scoreForm.controls['id_estado_m'].value == 3 || scoreForm.controls['id_estado_m'].value == 5 || scoreForm.controls['id_estado_m'].value == 6 || scoreForm.controls['id_estado_m'].value == 8)">
          <button *ngIf="listScoreDetalleExcep.length > 0 || listScoreDetalleGen.length > 0 || listScoreDetalleCorp.length > 0"
             class="cli-btn btn-m btn-observar"
             matTooltip="Observar masivamente la Solicitud"
             type="submit"
             (click)="observarMasivamenteSolicitud()"
             [disabled]="validarSiExisteRegistroObservado()"
             ><mat-icon class="icon-18">rule</mat-icon> Observar
          </button>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="(authService.esUsuarioGestor() && (!validarSiExisteReqValidacion() || scoreForm.controls['id_estado_m'].value == 5))  && (scoreForm.controls['id_estado_m'].value == 2 || scoreForm.controls['id_estado_m'].value == 3 || scoreForm.controls['id_estado_m'].value == 5 || scoreForm.controls['id_estado_m'].value == 8 )">
        <button *ngIf="listScoreDetalleExcep.length > 0 || listScoreDetalleGen.length > 0 || listScoreDetalleCorp.length > 0"
           class="cli-btn-mail btn-m btn-mail"
           type="submit"
           (click)="enviarSolicitudTDP()"
           >
           <!-- [disabled]="existeScoreD_Aprobado()" -->
           <mat-icon class="icon-18">forward_to_inbox</mat-icon> Enviar
        </button>
      </ng-container>

      <ng-container *ngIf="authService.esUsuarioGestor() && (scoreForm.controls['id_estado_m'].value == 6)">
        <button *ngIf="listScoreDetalleExcep.length > 0 || listScoreDetalleGen.length > 0 || listScoreDetalleCorp.length > 0"
           class="cli-btn btn-m btn-fin"
           type="submit"
           (click)="finalizarSolicitud()">
           <mat-icon class="icon-18">forward_to_inbox</mat-icon> Finalizar
        </button>
      </ng-container>
    </div>
  </div>
</form>

