.title-entidad {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 10px 0;
  text-align: center;
  color: #03bccf
}

.total {
  color: #97999b;
  font-size: 18px;
  font-weight: 550;
}

.w90 {
  height: 38px;
}

@media (max-width: 850px) {
}
