<!-- <div style="display: flex">
  <div class="flex-1"></div>
  <div class="modal-title c-male">Enviar correo</div>
  <div class="flex-1"></div>

  <button (click)="close()" class="icon-btn btn-trans c-orange moda-close-btn">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="cli-card">
  <div style="padding: 2px 2px">
    <form class="row g-3" [formGroup]="mailForm">
      <div class="cli-form mail-wrapper">
          <div class="chart-draw mt-3">
            <div class="pr-subtitle" style="color: lightseagreen; margin-bottom: 6px;">Notificación por Correo</div>

              <div class="row g-3">
                <div class="col-sm-12 cli-form-element">
                  <label style="font-weight: 500;">Para:</label>
                  <input style="font-weight: 500;text-align: center;font-size: 14px;"
                    type="text"
                    placeholder="example@indratools.com"
                    class="form-control"
                    formControlName="destinatario"/>
                </div>

                <div class="col-sm-12 cli-form-element">
                  <label style="font-weight: 500;">Cc:</label>
                  <input style="font-weight: 500;text-align: center;font-size: 14px;"
                    type="text"
                    placeholder="example@indratools.com"
                    class="form-control"
                    formControlName="copia"/>
                </div>

                <div class="col-sm-12 cli-form-element">
                  <label style="font-weight: 500;">Mensaje:</label>
                  <textarea class="form-control"
                    style="background-image: none;border-color: #bdbdbd;font-size: 14px;"
                    rows="3"
                    placeholder="Escriba un mensaje al destinatario..."
                    formControlName="mensaje">
                </textarea>
                </div>
            </div>
          </div>

        <div class="cli-form-buttons" style="margin-top: 2%">
          <button
            class="cli-btn btn-m btn-cancel"
            type="submit"
            (click)="close()">
            <mat-icon class="icon-18">cancel</mat-icon> Cancelar
          </button>
          <button
            class="cli-btn btn-m btn-blue"
            (click)="enviarDataTDP()"
            [disabled]="mailForm.invalid">
            <mat-icon class="icon-18">mail</mat-icon>Enviar
          </button>
        </div>
      </div>
    </form>
  </div>
</div> -->




<div style="display: flex">
  <div class="flex-1"></div>
  <div class="modal-title c-male">Importar detalle y Finalizar</div>
  <div class="flex-1"></div>

  <button (click)="close()" class="icon-btn btn-trans c-orange moda-close-btn">
    <mat-icon>close</mat-icon>
  </button>
</div>

<form class="row g-3">
  <div class="cli-form newvac-wrapper">
    <div class="chart-draw">

      <!-- OBSERVAR Y CAMBIAR DE ESTADO POR OBS---------------------------------------------------------- -->

      <div class="col-sm-12 cli-form-element" >
        <label>Importar Archivo.</label>
        <input type="file" class="cli-import"
        formControlName="importar"
        >
       <!-- (change)="readExcell($event)" -->
      </div>
    </div>


    <div class="cli-form-buttons" style="margin-top: 8%">
      <button
        class="cli-btn btn-m btn-skyblue"
        >
        <!-- (click)="actualizarObservacion()" -->
        <mat-icon class="icon-18">save</mat-icon> Guardar
      </button>
    </div>
  </div>
</form>
